body{
  font-family: Rubik,Helvetica,Arial,sans-serif; 
  width:100%;
  overflow: hidden;
}



.addColor{
  background: linear-gradient(to right, #9c7af2 0%, #7e6eed 150%);
 border-radius: 0% 0% 50% 50% / 0% 0% 30% 30%;
 width: 2000px; /* Use a value larger than the viewport width */
 overflow: hidden;
}

.addColors{
  background: linear-gradient(to right, #9c7af2 0%, #7e6eed 150%);

}

.rounded-custom {
  border-radius: 90px; /* Set your desired border-radius value */
}
.jus {
  display: inline-block;
}

@media screen and (min-width:480px){
  .text-h3 {
    font-size: 5px; 
  }

  .customicon{
    font-size: 40px;
  }


}




@media screen and (max-width: 600px) {
  .mb-2 {
    margin-bottom: 2rem; /* Adjust margin for spacing on mobile screens */
  }
}





.img-1  {
  width:150px;
  display:inline-block;
}

.customBtn {
  background: linear-gradient(-45deg, #9B79F1, #6865E9);
  transition: background 1s ease-in-out, transform 1s ease-in-out;
}

.customBtn:hover {
  background: linear-gradient(45deg, #9B79F1, #6865E9);
  transition-delay: 0.1s; /* Delay the transition by 0.3 seconds */
  transform: translateY(-0.1cm);
}

.navBtn {
  transition: background 1s ease-in-out, transform 1s ease-in-out;
  font-family: Arial; 
  text-transform: capitalize;
  font-size: 15px;
}

.navBtn:hover {
  transition-delay: 0.1s; /* Delay the transition by 0.3 seconds */
  transform: translateY(-0.1cm);
}

.shapes2 > h1{
  font-size:40px;
}


.process-box{
width:100px;
height:100px;
background-color: #ffffff;
box-shadow: 0px 0px 50px rgba(199, 197, 197, 0.5);
border-radius:30px;
align-items: center;
justify-content: center;

}

.process-box:hover{
background-color: #38CB89;
  }

  .process-box:hover .customicon {
    color: #fff;
  }

  .customicon{
    color:#38CB89;
  }

  .img-shadow {
    filter: drop-shadow(2px 2px 10px #e2e1e1);

  }

  .login-screen {
color:#EE7455;
  }

/* footer */
.footerColor{
  background: linear-gradient(to right, #9c7af2 0%, #7e6eed 150%);
}